(% extends "layout.html" %)

(% block content %)

        <div class="container-fluid">
            <br>
            <br>
            <div class="row">
              <div class="col-sm"></div>
              <div class="col-sm text-center">
                  <h2>Qesmitree Dashboard</h2>
              </div>
              <div class="col-sm"></div>
            </div>

        </div>

        <button id="analyzebutton" class="btn btn-primary" onclick="analyzeQemistree()" > Run Qemistree </button>


        <script>

            function analyzeQemistree() {
                $("#analyzebutton").html("<i class='fa fa-spinner fa-spin '></i> Processing")

                $.ajax({
                    url: 'analyzeqemistree',
                    type: 'POST',
                    data: {},
                    success: function(response) {
                        console.log(response)
                    },
                    error: function(error) {
                        alert("ERROR")
                    }
                });
            }
        </script>

(% endblock %)